<div>
    <app-title-header
        [title]="title"
    ></app-title-header>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            
            <h3 class="header" id="header-skills"><u>Skills</u></h3>

            <ul class="content" id="content-skills">
                <li *ngFor="let item of skills | keyvalue:keepOriginalOrder">
                    {{item.key}}: {{item.value}}
                </li>
            </ul>
        
            <h3 class="header" id="header-tools"><u>Tools</u></h3>

            <ul class="content" id="content-tools">
                <li *ngFor="let item of tools | keyvalue:keepOriginalOrder">
                    {{item.key}}: {{item.value}}
                </li>
            </ul>

        </div>
        <div class="col-sm-3"></div>
    </div>

</div>